<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.aphrodite.query.dao.hive.HqlExecuteDao">


	<insert id="insert" parameterType="java.lang.String">
		<![CDATA[
			${hql}
		]]>
	</insert>

	<select id="select" resultType="java.util.Map" parameterType="java.lang.String">
		<![CDATA[
			${hql}
		]]>
	</select>

	<select id="load" resultType="java.util.Map" parameterType="java.lang.String">
		insert overwrite local directory '${path}'
			row format delimited
			fields terminated by '\t'
		<![CDATA[
			${hql}
		]]>
	</select>

</mapper>
