<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pay.aphrodite.portal.dao.SqlQueryDao">
  <resultMap id="BaseResultMap" type="com.pay.aphrodite.model.entity.SqlQuery">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="OPTIMISTIC" jdbcType="INTEGER" property="optimistic" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="COLUMN_NAME" jdbcType="VARCHAR" property="columnName" />
    <result column="ALIAS" jdbcType="VARCHAR" property="alias" />
    <result column="SELECT_ID" jdbcType="INTEGER" property="selectId" />
    <result column="OWNER" jdbcType="VARCHAR" property="owner" />
    <result column="SQL_OBJECT_TYPE" jdbcType="VARCHAR" property="sqlObjectType" />
    <result column="SUB_QUERY_ID" jdbcType="INTEGER" property="subQueryId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATE_TIME, UPDATE_TIME, OPTIMISTIC, OPERATOR, COLUMN_NAME, ALIAS, SELECT_ID, 
    OWNER, SQL_OBJECT_TYPE, SUB_QUERY_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SQL_QUERY
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SQL_QUERY
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pay.aphrodite.model.entity.SqlQuery">
    insert into SQL_QUERY (ID, CREATE_TIME, UPDATE_TIME, 
      OPTIMISTIC, OPERATOR, COLUMN_NAME, 
      ALIAS, SELECT_ID, OWNER, 
      SQL_OBJECT_TYPE, SUB_QUERY_ID)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{optimistic,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, #{columnName,jdbcType=VARCHAR}, 
      #{alias,jdbcType=VARCHAR}, #{selectId,jdbcType=INTEGER}, #{owner,jdbcType=VARCHAR}, 
      #{sqlObjectType,jdbcType=VARCHAR}, #{subQueryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pay.aphrodite.model.entity.SqlQuery">
    insert into SQL_QUERY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="optimistic != null">
        OPTIMISTIC,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="columnName != null">
        COLUMN_NAME,
      </if>
      <if test="alias != null">
        ALIAS,
      </if>
      <if test="selectId != null">
        SELECT_ID,
      </if>
      <if test="owner != null">
        OWNER,
      </if>
      <if test="sqlObjectType != null">
        SQL_OBJECT_TYPE,
      </if>
      <if test="subQueryId != null">
        SUB_QUERY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optimistic != null">
        #{optimistic,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="selectId != null">
        #{selectId,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="sqlObjectType != null">
        #{sqlObjectType,jdbcType=VARCHAR},
      </if>
      <if test="subQueryId != null">
        #{subQueryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pay.aphrodite.model.entity.SqlQuery">
    update SQL_QUERY
    <set>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optimistic != null">
        OPTIMISTIC = #{optimistic,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null">
        COLUMN_NAME = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        ALIAS = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="selectId != null">
        SELECT_ID = #{selectId,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        OWNER = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="sqlObjectType != null">
        SQL_OBJECT_TYPE = #{sqlObjectType,jdbcType=VARCHAR},
      </if>
      <if test="subQueryId != null">
        SUB_QUERY_ID = #{subQueryId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pay.aphrodite.model.entity.SqlQuery">
    update SQL_QUERY
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      OPTIMISTIC = #{optimistic,jdbcType=INTEGER},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      COLUMN_NAME = #{columnName,jdbcType=VARCHAR},
      ALIAS = #{alias,jdbcType=VARCHAR},
      SELECT_ID = #{selectId,jdbcType=INTEGER},
      OWNER = #{owner,jdbcType=VARCHAR},
      SQL_OBJECT_TYPE = #{sqlObjectType,jdbcType=VARCHAR},
      SUB_QUERY_ID = #{subQueryId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>