<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pay.aphrodite.core.dao.mysql.HqlTaskManageDao">
  <resultMap id="BaseResultMap" type="com.pay.aphrodite.model.entity.HqlTaskManage">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OPTIMISTIC" jdbcType="INTEGER" property="optimistic" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="LFS_PATH" jdbcType="VARCHAR" property="lfsPath" />
    <result column="TASK_STATUS" jdbcType="VARCHAR" property="taskStatus" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="TASK_NO" jdbcType="VARCHAR" property="taskNo" />
    <result column="DOWN_LOAD_COUNT" jdbcType="INTEGER" property="downLoadCount" />
    <result column="COMPLETE_TIME" jdbcType="TIMESTAMP" property="completeTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATE_TIME, OPTIMISTIC, OPERATOR, LFS_PATH, TASK_STATUS, REMARK, TASK_NO, DOWN_LOAD_COUNT, 
    COMPLETE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HQL_TASK_MANAGE
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.pay.aphrodite.model.entity.HqlTaskManage">
    insert into HQL_TASK_MANAGE (CREATE_TIME, OPTIMISTIC,
      OPERATOR, LFS_PATH, TASK_STATUS, 
      REMARK, TASK_NO, DOWN_LOAD_COUNT, 
      COMPLETE_TIME)
    values (now(), 1,
      #{operator,jdbcType=VARCHAR}, #{lfsPath,jdbcType=VARCHAR}, #{taskStatus,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{taskNo,jdbcType=VARCHAR}, #{downLoadCount,jdbcType=INTEGER}, 
      #{completeTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.pay.aphrodite.model.entity.HqlTaskManage">
    update HQL_TASK_MANAGE
    <set>
        OPTIMISTIC = OPTIMISTIC + 1,
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="lfsPath != null">
        LFS_PATH = #{lfsPath,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null">
        TASK_STATUS = #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="taskNo != null">
        TASK_NO = #{taskNo,jdbcType=VARCHAR},
      </if>
      <if test="downLoadCount != null">
        DOWN_LOAD_COUNT = #{downLoadCount,jdbcType=INTEGER},
      </if>
      <if test="completeTime != null">
        COMPLETE_TIME = #{completeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>