<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pay.aphrodite.core.dao.mysql.HqlTaskLogDao">
  <resultMap id="BaseResultMap" type="com.pay.aphrodite.model.entity.HqlTaskLog">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OPTIMISTIC" jdbcType="INTEGER" property="optimistic" />
    <result column="TASK_NO" jdbcType="VARCHAR" property="taskNo" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="TASK_STEP" jdbcType="VARCHAR" property="taskStep" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATE_TIME, OPTIMISTIC, TASK_NO, OPERATOR, TASK_STEP, REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HQL_TASK_LOG
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.pay.aphrodite.model.entity.HqlTaskLog">
    insert into HQL_TASK_LOG (CREATE_TIME, OPTIMISTIC,
      TASK_NO, OPERATOR, TASK_STEP, 
      REMARK)
    values (NOW(), 1,
      #{taskNo,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{taskStep,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.pay.aphrodite.model.entity.HqlTaskLog">
    update HQL_TASK_LOG
    <set>
        OPTIMISTIC = OPTIMISTIC + 1,
      <if test="taskNo != null">
        TASK_NO = #{taskNo,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="taskStep != null">
        TASK_STEP = #{taskStep,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>